* {
    background-color: black;
    color:aliceblue;
    font-family: "DM sans", sans-serif;
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.header {
    display: flex;
    background-color: #121212;
    margin: 16px;
    padding: 8px;
    width: 128px;
    /* align-items: center; */
    border-radius: 8px;
}

.header .minha__foto {
    width: 128px;
   /* margin-right: 16px; */
    border-radius: 8px;
}

.header div{
    background-color: #121212;
}
.header .name {
    padding:8px 0 8px 0;
    font-size: 16px;
}

.header .title {
    padding: 0 0 4px 8px;
    font-size: 12px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #121212;
    margin: 16px;
    padding: 15px 16px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

footer div {
    background-color: #121212;
    align-items: center;
}

footer img {
    background-color: #121212;
    width: 16px;
}

footer a {
    background-color: #121212;
    text-decoration: none;
}

footer span {
    background-color: #121212;
}